<div id="detalledatosCliente">
<div id="datosCliente">

<table>
  <tr>
    <td class="etiqueta font-weight-bold text-center">Documento Cliente:</td>
    <td class="text-center">1020450393</td> 
  </tr>
  <tr>
    <td class="etiqueta font-weight-bold text-center">Nombre Cliente:</td>
    <td class="text-center">Pepe Pedro Armando Armando Armando Armando</td> 
  </tr>
  <tr>
    <td class="etiqueta font-weight-bold text-center">Operaciones Permitidas:</td>
    <td class="text-center">Libre</td> 
  </tr>
   <tr>
    <td class="etiqueta font-weight-bold text-center">Tipo Operaciones:</td>
    <td class="text-center">Mixto</td> 
  </tr>		
</table>

</div>
<div id="datosCupo">
<table>
  <tr>
    <td class="etiqueta font-weight-bold text-center">Tipo Cupo:</td>
    <td class="text-center">Comite</td> 
  </tr>
  <tr>
    <td class="etiqueta font-weight-bold text-center">Monto Original:</td>
    <td class="text-center">1.000</td> 
  </tr>
  <tr>
    <td class="etiqueta font-weight-bold text-center">Monto Disponible:</td>
    <td class="text-center">500</td> 
  </tr>
   <tr>
    <td class="etiqueta font-weight-bold text-center">Fecha aprobación:</td>
    <td class="text-center">01/01/2017</td> 
  </tr>	
   <tr>
    <td class="etiqueta font-weight-bold text-center">Fecha vencimiento:</td>
    <td class="text-center">02/01/2018</td> 
  </tr>		
</table>

</div>
</div>
