<div
id="paginaPrincipal"
class="container">
  
<div id="encabezado">
  <h3>Administración de cupos</h3>
  
  <div id="botonesEncabezado">
  <button id="DescargarMacro" class="btn btn-success"><i class="fa fa-download"></i> Descargar Macro</button>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownDoc" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Documentación
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownDoc">
      <a class="dropdown-item" href="#!">FAQ</a>
      <a class="dropdown-item" href="#!">Manual</a>
    </div>
  </div>
 </div>
</div>

  <div class="row">   
   <div id="zonaMenu" class="col-xs-2">
  
 <p><i class="fa fa-user"></i> Jonathan Javier Legarda Florez</p> 
            <div class="bootstrap-vertical-nav">
                    <div class="collapse" id="menuPrincipal">
                        <ul class="nav flex-column" id="exCollapsingNavbar3">
                         
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/ConsultarCliente']" [routerLinkActive]="['seleccionadoMenu']" >Consultar Cliente</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Crear Cupo</a>
                            </li>
                           <li class="nav-item">
                              <a class="nav-link" href="#">Modificar Cupo</a>
                          </li>
                      
                        </ul>
         
    </div>
  </div>

  <div class="bootstrap-vertical-nav">
    <div class="collapse" id="menuPrincipal2">
        <ul class="nav flex-column" id="exCollapsingNavbar4">
         
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['seleccionadoMenu']" >Ingresar Operación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Eliminar Operación</a>
            </li>
        </ul>

</div>
</div>


</div>
    <div id="zonaTrabajo" class="col-xs-9">
      <router-outlet></router-outlet>
      </div>
  </div>
</div>